html{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	margin: auto;
	max-width: 800px;
}

body{
	background-color: #999da4;
	width: auto;
	height: auto;
}

.diceAppHolder{
	background-color: rgb(68, 69, 75);
	color: white;
	width: auto;
	height: auto;
	border: 4px groove gray;
	border-radius: 45px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	align-content: center;
} 

h1 {
	font-size: 6vw;
	max-width: 800px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto; 
} 
@media screen and (min-width: 800px) {
	h1 {
	   font-size: 50px;
	}
  }

.buttonHolder{
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
	max-width: 800px;
	margin-top: -10px;
} 

/* .rollDiceButton {
	float: left;
}  */

.clearDiceButton {
	/* float: left; */
	/* margin-left: 10px; */
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

.button {
	font-size: 4vw;
	background-color: rgb(37, 38, 40);
	color: white;
	border: groove;
	border-radius: 10px;
}
@media screen and (min-width: 800px) {
	.button {
	   font-size: 38px;
	}
  }
.diceSection {
	margin-top: -20px;
	margin-bottom: 20px;
	display: inline-block;
	/* vertical-align: top; */
	/* margin-left: auto; */
	/* margin-top: auto; */
}

h3 {
	font-size: 6vw;
	max-width: 800px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto; 
	margin-top: -10px;
} 
@media screen and (min-width: 800px) {
	h3 {
	   font-size: 50px;
	}
  }
.totalNumber {
	font-size: 6vw;
	/* max-width: 800px; */
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto; 
	padding-bottom: 5px;
} 
@media screen and (min-width: 800px) {
	.totalNumber {
	   font-size: 50px;
	}
}

.dice{
	border: solid 4px;
	border-radius: 1.5vw;
	width: 9vw;
	height: 9vw;
	max-width: 90px;
	max-height: 90px;
}
@media screen and (min-width: 800px) {
	.dice {
		border-radius: 10px;;
	}
  }